<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091424045735-f9rrrk38iboutesao0kmtv11ehigo4o6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091424045735-f9rrrk38iboutesao0kmtv11ehigo4o6</string>
	<key>API_KEY</key>
	<string>AIzaSyDZuiXrvhyJHBvC9izTSgkduosStKSCRzk</string>
	<key>GCM_SENDER_ID</key>
	<string>1091424045735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brandontrautmann.hydrawisecompanion</string>
	<key>PROJECT_ID</key>
	<string>hydrawise-companion</string>
	<key>STORAGE_BUCKET</key>
	<string>hydrawise-companion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091424045735:ios:7c1cb2db925d40534d2982</string>
</dict>
</plist>